.alt-header {
  margin: 0 10px;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.alt-header__comlumn {
  width: 33%;
}
.alt-header__title {
  font-size: 28px;
  font-weight: 600;
}
.alt-header__comlumn:first-child {
  /*  
  auto 값은 브라우저가 남은너비 의 공간을 계산하여 좌우 균등하게 배분해 준다.
  */
  margin-right: auto;
}
.alt-header__comlumn:nth-child(2) {
  text-align: center;
}
.alt-header__comlumn:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}
.alt-header__comlumn:last-child span:first-child {
  margin-right: 10px;
}
